
body{
    padding: 0;
    margin: 0;
}
.userName{
  text-align: center;
  margin-top: 15px;
}
.app{
  height: 300px;
  width: 250px;
  display:grid ;
  text-align: center;
  background-color: lightseagreen;
  margin-top: 5%;
  margin-left: 40%;
}
.inp{
  margin-top: 5px;
  margin-bottom: 15px ;
}

.livechat{
  height: 300px;
  width: 300px;
  text-align: center;
  background-color:darkslateblue;
  margin-left: 37%;
  margin-top: 5%;
}

.chat-header{
  position: fixed;
}

.chat-body{
  border-top: 1px solid gray;
  position: relative;
  top: 40px;
} 
.hire{
  position: fixed;
}
.cb{
  text-align: left;
}

.lc{
  color:springgreen;
  width: 100%;
  padding-top: 5px;
  margin-left: 10px;
}
.chat-footer{
  position:relative;
  margin-top: 90%;
}
.posi{
  position: absolute;
  top: 250px;
  border-top: 1px solid gray;
  width: 100%;
}
.fbt{
  display: inline-block;
  margin-right: 40px;
}
.fbtn{
  width: 70%;
}
